.insertToolbar {
    display: flex;
    background-color: white;
    top: 20px;
    box-shadow: 0 8px 16px rgba(27, 39, 51, 0.08);
    right: 9%;
    opacity: 1;
    padding: 6px 8px;
    position: fixed;
    text-align: center;
    white-space: nowrap;
    z-index: 28;
    /*pointer-events: none;*/
    color: #ffffff;
    border: 1px solid #ddd;
}
