.footer-bottom {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background-color: rgba(240,237,242,1)
}

.footer-bottom ul {
    display: inline;
    list-style:none;
    padding-top: 1.5rem;
}

.footer-bottom li {
    display: inline;
}
.footer-bottom li:nth-child(n+2):before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 1px;
    background-color:rgba(0,0,0,.3);
    margin: 0 15px;
    pointer-events: none;
}