.gnbHeader {
  top: 0px;
  z-index: 100;
  left: 0;
  width: 100%;
  min-width: 1320px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}

/*
.gnbHeader .logo {
  position: absolute;
  background: url("./static/img/logo_sgma.png") no-repeat;
   경로가 정확하지 않으면 프로그램이 뻗는다. 
  height: 60px;
}
*/

.gnbHeader h1 {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  float: left;
  margin-top: 11px;
}

.headerWrap {
  max-width: 1160px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin: auto 94.5px;
  width: 100%;
}

.boxGnb {
  width: 100%;
  height: 100%;
}

.boxGnb li {
  list-style: none;
  height: 61px;
  display: inline-block;
}

.boxGnb a > .line {
  display: block;
  position: absolute;
  left: 9px;
  right: 9px;
  bottom: -1px;
  height: 2px;
  background-color: #1e1e1e;
}

.boxGnb a {
  display: inline-block;
  position: relative;
  height: 60px;
  padding: auto 3px;
  font-size: 16px;
  line-height: 58px;
  color: #1e1e1e;
  font-family: "NotoSans Regular", "Malgun Gothic", "맑은 고딕",
    "Apple SD Gothic Neo", "돋움", dotum, sans-serif;
}
